# Importing needed Lib

In [1]:
import pandas as pd
import numpy as np
import os
import requests
import json
from datetime import datetime

In [2]:
folderpath = r"C:\Users\TOSIN\Github repo\Data_1"  # Update this path to your new folder path

In [3]:
folderpath

'C:\\Users\\TOSIN\\Github repo\\Data_1'

In [4]:
# Create a list with all files in the folder using a list comprehension

folderpath = r"C:\\Users\\TOSIN\\Github repo\\Data_1"  # Update this path to your new folder path

filepaths = [os.path.join(folderpath, name) for name in os.listdir(folderpath)]

In [5]:
filepaths

['C:\\\\Users\\\\TOSIN\\\\Github repo\\\\Data_1\\Divvy_Trips_2018_Q1.csv',
 'C:\\\\Users\\\\TOSIN\\\\Github repo\\\\Data_1\\Divvy_Trips_2018_Q2.csv',
 'C:\\\\Users\\\\TOSIN\\\\Github repo\\\\Data_1\\Divvy_Trips_2018_Q3.csv',
 'C:\\\\Users\\\\TOSIN\\\\Github repo\\\\Data_1\\Divvy_Trips_2018_Q4.csv']

In [6]:
# Read and concatenate all files simultaneously

df = pd.concat((pd.read_csv(f) for f in filepaths), ignore_index = True)

In [7]:
df.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,17536702,2018-01-01 00:12:00,2018-01-01 00:17:23,3304,323.0,69,Damen Ave & Pierce Ave,159,Claremont Ave & Hirsch St,Subscriber,Male,1988.0
1,17536703,2018-01-01 00:41:35,2018-01-01 00:47:52,5367,377.0,253,Winthrop Ave & Lawrence Ave,325,Clark St & Winnemac Ave (Temp),Subscriber,Male,1984.0
2,17536704,2018-01-01 00:44:46,2018-01-01 01:33:10,4599,"2,904.0",98,LaSalle St & Washington St,509,Troy St & North Ave,Subscriber,Male,1989.0
3,17536705,2018-01-01 00:53:10,2018-01-01 01:05:37,2302,747.0,125,Rush St & Hubbard St,364,Larrabee St & Oak St,Subscriber,Male,1983.0
4,17536706,2018-01-01 00:53:37,2018-01-01 00:56:40,3696,183.0,129,Blue Island Ave & 18th St,205,Paulina St & 18th St,Subscriber,Male,1989.0

In [8]:
df.shape

(3603082, 12)

In [9]:
df.dtypes

trip_id                int64
start_time            object
end_time              object
bikeid                 int64
tripduration          object
from_station_id        int64
from_station_name     object
to_station_id          int64
to_station_name       object
usertype              object
gender                object
birthyear            float64
dtype: object

In [10]:
# Convert start_time to datetime if not already
df['start_time'] = pd.to_datetime(df['start_time'])

In [11]:
# Extract the date part and create a new column 'date'
df['date'] = df['start_time'].dt.date

In [12]:
df.dtypes

trip_id                       int64
start_time           datetime64[ns]
end_time                     object
bikeid                        int64
tripduration                 object
from_station_id               int64
from_station_name            object
to_station_id                 int64
to_station_name              object
usertype                     object
gender                       object
birthyear                   float64
date                         object
dtype: object

In [13]:
# Convert the 'date' column to datetime
df['date'] = pd.to_datetime(df['date'])

In [14]:
df.dtypes

trip_id                       int64
start_time           datetime64[ns]
end_time                     object
bikeid                        int64
tripduration                 object
from_station_id               int64
from_station_name            object
to_station_id                 int64
to_station_name              object
usertype                     object
gender                       object
birthyear                   float64
date                 datetime64[ns]
dtype: object

In [15]:
df. head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,date
0,17536702,2018-01-01 00:12:00,2018-01-01 00:17:23,3304,323.0,69,Damen Ave & Pierce Ave,159,Claremont Ave & Hirsch St,Subscriber,Male,1988.0,2018-01-01
1,17536703,2018-01-01 00:41:35,2018-01-01 00:47:52,5367,377.0,253,Winthrop Ave & Lawrence Ave,325,Clark St & Winnemac Ave (Temp),Subscriber,Male,1984.0,2018-01-01
2,17536704,2018-01-01 00:44:46,2018-01-01 01:33:10,4599,"2,904.0",98,LaSalle St & Washington St,509,Troy St & North Ave,Subscriber,Male,1989.0,2018-01-01
3,17536705,2018-01-01 00:53:10,2018-01-01 01:05:37,2302,747.0,125,Rush St & Hubbard St,364,Larrabee St & Oak St,Subscriber,Male,1983.0,2018-01-01
4,17536706,2018-01-01 00:53:37,2018-01-01 00:56:40,3696,183.0,129,Blue Island Ave & 18th St,205,Paulina St & 18th St,Subscriber,Male,1989.0,2018-01-01

In [17]:
# Load the dataset from a CSV file
temperature_df = pd.read_csv('Chicago_Average_Temperature.csv')

In [18]:
# Convert 'date' column to datetime
temperature_df ['date'] = pd.to_datetime(temperature_df ['date'])

In [19]:
temperature_df. head(5)

        date  avgTemp
0 2018-01-01    -18.9
1 2018-01-02    -19.1
2 2018-01-03    -11.4
3 2018-01-04    -13.9
4 2018-01-05    -15.2

In [20]:
temperature_df.dtypes

date       datetime64[ns]
avgTemp           float64
dtype: object

In [21]:
temperature_df.shape

(365, 2)

# Merging the Chicago citibike trips records with temperature

In [22]:
# Merge the two datasets on the 'date' field
merged_df = pd.merge(df, temperature_df, on='date', how='left')  # 'left' joins on matching dates

In [23]:
# Display the merged DataFrame
merged_df. head(5)

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,date,avgTemp
0,17536702,2018-01-01 00:12:00,2018-01-01 00:17:23,3304,323.0,69,Damen Ave & Pierce Ave,159,Claremont Ave & Hirsch St,Subscriber,Male,1988.0,2018-01-01,-18.9
1,17536703,2018-01-01 00:41:35,2018-01-01 00:47:52,5367,377.0,253,Winthrop Ave & Lawrence Ave,325,Clark St & Winnemac Ave (Temp),Subscriber,Male,1984.0,2018-01-01,-18.9
2,17536704,2018-01-01 00:44:46,2018-01-01 01:33:10,4599,"2,904.0",98,LaSalle St & Washington St,509,Troy St & North Ave,Subscriber,Male,1989.0,2018-01-01,-18.9
3,17536705,2018-01-01 00:53:10,2018-01-01 01:05:37,2302,747.0,125,Rush St & Hubbard St,364,Larrabee St & Oak St,Subscriber,Male,1983.0,2018-01-01,-18.9
4,17536706,2018-01-01 00:53:37,2018-01-01 00:56:40,3696,183.0,129,Blue Island Ave & 18th St,205,Paulina St & 18th St,Subscriber,Male,1989.0,2018-01-01,-18.9

In [24]:
merged_df. tail(5)

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,date,avgTemp
3603077,21742438,2018-12-31 23:45:17,2018-12-31 23:50:05,2931,288.0,49,Dearborn St & Monroe St,164,Franklin St & Lake St,Subscriber,Female,1983.0,2018-12-31,1.3
3603078,21742439,2018-12-31 23:48:48,2018-12-31 23:57:22,4386,514.0,624,Dearborn St & Van Buren St (*),44,State St & Randolph St,Subscriber,Female,1990.0,2018-12-31,1.3
3603079,21742440,2018-12-31 23:50:09,2018-12-31 23:57:16,4927,427.0,41,Federal St & Polk St,52,Michigan Ave & Lake St,Subscriber,Female,1995.0,2018-12-31,1.3
3603080,21742441,2018-12-31 23:55:04,2018-12-31 23:58:24,1350,200.0,141,Clark St & Lincoln Ave,118,Sedgwick St & North Ave,Subscriber,Male,1999.0,2018-12-31,1.3
3603081,21742442,2018-12-31 23:59:18,2019-01-01 00:20:43,2006,"1,285.0",260,Kedzie Ave & Milwaukee Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0,2018-12-31,1.3

In [25]:
merged_df.shape

(3603082, 14)

In [26]:
merged_df.to_csv('chicago_data.csv')